.current-screen-info {
  margin: 1em;
  max-width: 600px;
}

.current-screen-info tbody tr:nth-child(even) {
  background: rgba(0,0,0,.03);
}

.current-screen-info thead th {
  font-weight: bold;
}

.current-screen-info .boolean {
  color: #9600CF;
}

.current-screen-info .empty {
  color: #C00;
}
